$bg-color-primary: #f4f4f4;     // - основной/задний план

$text-color-logo: #111321;      // - черный

$text-color-primary: #111321;      // - черный
$text-color-secondary: #4440F6;   // - синий
$text-color-disabled: #A8A8A8; // - серый
$text-color-accent: #FFFFFF;    // - белый

// @media (min-width: $mobile) {
//     background-color: $bg-color-primary;
// }

// @media screen and (min-width: $tablet) {
//     // background-color: yellow;
// }

// @media screen and (min-width: $desktop) {
//     // background-color: tomato;
// }