body {
    margin: 0;
    background-color: green;

    // @media (min-width: $mobile) {
    // // background-color: $bg-color-primary; 
    // background-color: green; 
    // }

    @media screen and (min-width: $tablet) {
    background-color: yellow;
    }

    @media screen and (min-width: $desktop) {
    background-color: tomato;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin: 0 auto;
    border: 1px solid teal;

    @media (min-width: $mobile) {
    width: 288px;
    padding: 24px 16px;
    }
    
    @media screen and (min-width: $tablet) {
    width: 736px;
    padding: 32px 16px 28px 16px;
    }
    
    @media screen and (min-width: $desktop) {
    width: 1248px;
    padding: 28px 16px;
    }
}

.responsive {
    max-width: 1140px;
}